<!-- アイコン -->
<% if @customer.image.present? %>
	<%= attachment_image_tag @customer, :image, :fill, 280, 210, format: 'jpeg' %>
<% else %>
    <%= image_tag 'customer.png', size: '200x200' %>
<% end %>

<!-- ユーザーネーム -->
<h3><strong><%= @customer.customer_name %></strong></h3>

<!-- ユーザーID -->
<%= '@' + @customer.user_id %>

<!-- プロフィール -->
<%= @customer.profile %>

<% if @customer == current_customer%>
	<%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-success" %>
<% end %>



