<div class="container">
	<% @movies.each do |movie| %>
		<div class="row">
			<!-- 映画画像 -->
			<div class="col-md-2">
				<tr><% if movie.movie_image.present? %>
					<%= attachment_image_tag movie, :movie_image, :fill, 180, 240, format: 'jpeg' %>
				<% else %>
				    <%= image_tag 'no-movie.png', size: '200x200' %>
				<% end %></tr>
			</div>

			<div class="col-md-5">
				<!-- ブックマーク -->

				<!-- 映画タイトル -->
				<h1><%= link_to movie.title, movie_path(movie.id) %></h1><br>

				<!-- ジャンル -->
				ジャンル：
				<% @genres.each do |genre| %>
					<%= genre.name + ',' %>
				<% end %>
				<br><br>
				<!-- レビュー -->
				<div id="star-rate-<%= movie.id %>"></div>
				 <script>
				  $('#star-rate-<%= movie.id %>').raty({
				    size: 36,
				    starOff:  '<%= asset_path('star-off.png') %>',
				    starOn : '<%= asset_path('star-on.png') %>',
				    starHalf: '<%= asset_path('star-half.png') %>',
				    half: true,
				    readOnly: true,
				    score: <%= movie.rate %>,
				  });
				</script><br>

				<!-- ブックマーク -->

				<!-- netflix-->
				<% if movie.netflix == true %>
				    Netflix：なし
				<% else %>
				    Netflix：あり
				<% end %><br>

				<!-- amazon-prime -->
				<% if movie.amazon == true %>
				    AmazonPrime：なし
				<% else %>
				     AmazonPrime：あり
				<% end %><br>

				<!-- hulu -->
				<% if movie.hulu == true %>
					Hulu：なし
				<% else %>
					Hulu：あり
				<% end %><br>

			</div>
		</div>
	<% end %>
</div>
