<!-- 口コミ入力フォーム -->
<%= form_for(@movie, url: movies_path) do |f| %>

  <!--映画コードの送信-->
  <%= f.hidden_field :movie_id, { value: @movie.id} %>

  <!-- タイトル -->
  <div class="form-group row">
    <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <!-- 評価 -->
  <div class="form-group row" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :movie %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-off.png') %>',
    scoreName: 'movie[rate]',
    half: true,
  });
  </script>

  <!-- サブスク -->
  <div class="form-group row">
    <%= f.label :netflix, 'Netflix', class:'col-md-3 col-form-label' %>
    <div class="col-xs-1"><%= f.radio_button :netflix, :true %><%= f.label :netflix, "ない" %></div>
    <div class="col-xs-1"><%= f.radio_button :netflix, :false %><%= f.label :netflix, "ある" %></div>
  </div>

  <div class="form-group row">
    <%= f.label :amazon, 'AmazonPrime', class:'col-md-3 col-form-label' %>
    <div class="col-xs-1"><%= f.radio_button :amazon, :true %><%= f.label :amazon, "ない" %></div>
    <div class="col-xs-1"><%= f.radio_button :amazon, :false %><%= f.label :amazon, "ある" %></div>
  </div>

  <div class="form-group row">
    <%= f.label :hulu, 'Hulu', class:'col-md-3 col-form-label' %>
    <div class="col-xs-1"><%= f.radio_button :hulu, :true %><%= f.label :hulu, "ない" %></div>
    <div class="col-xs-1"><%= f.radio_button :hulu, :false %><%= f.label :hulu, "ある" %></div>
  </div>

  <!-- 口コミ -->
  <div class="form-group row">
    <%= f.label :impression, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :impression, class: "form-control", rows: "8",
        placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。まずは投稿してみましょう！投稿してから編集もできますよ！'%>
    </div>
  </div>

          <p>
          <%= f.label :genre, 'ジャンル' %>
          <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %> 
            <%= genre.label do %>
              <%= genre.check_box %>
              <%= genre.text %>
            <% end %>
          <% end %>
        </p>

  <p>ファイル選択 <%= f.attachment_field :movie_image %></p>


  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>